<body>
  <table>
    <thead>
      <tr>
        <th rowspan="2">bar</th>
        <th>foo</th>
      </tr>
      <tr>
        <th>newbar</th>
        <th>newfoo</th>
      </tr>
    </thead>
  </table>
</body>
