<body>
  <table>
    <thead>
      <tr>
        <th rowspan="2">bar</th>
        <tr>
          <th>top1</th>
          <th>top2</th>
        </tr>
        <tr>
          <td>bottom1</td>
          <td>bottom2</td>
        </tr>
      </tr>
    </thead>
  </table>
</body>
