<body>
    <datalist id="list">
        <option value="Active" />
        <option value="Inactive" />
    </datalist>
    <div>
        <span>
            <table>
                <thead>
                    <tr>
                        <th class="bold text red-font">Col 1</th>
                        <th class="bold text red-font">Col 2</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="bold text">col 1</td>
                        <td><input list="list"/></td>
                    </tr>
                </tbody>
            </table>
        </span>
    </div>
</body>
