<body>
    <div>
        <span>
            <table>
                <thead>
                    <tr style="width: 45ch">
                        <th>Col 1</th>
                        <th>Col 2</th>
                        <th>Col 3</th>
                    </tr>
                </thead>
            </table>
        </span>
    </div>
</body>
